<div class="confirm-modal">

  <h2 mat-dialog-title class="confirm-modal-title">
    {{dialogData.title}}
  </h2>

  <mat-dialog-content class="confirm-modal-content">
    {{dialogData.description}}
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="confirm-modal-content-actions" >
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="actionFunction()"> {{dialogData.actionButtonTxt}}</button>
  </mat-dialog-actions>

</div>
