<div class="book-list row">
  <div class="col-xs-12">
    <h2>Vos livres</h2>
    <div class="list-group">
      <button class="list-group-item" *ngFor="let book of books$ | async; let i = index" (click)="onViewBook(book.uid)">

        <h3 class="list-group-heading">
          {{book.title}} -
          {{book.collection}} <span *ngIf="!!book.volume">Tome {{book.volume}}</span>
          <!-- remove book -->
          <button class="btn btn-default pull-right" (click)="onRemoveBook(book, $event)">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>

          <!-- update book -->
          <button class="btn btn-default pull-right" (click)="onUpdateBook(book, $event)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </h3>

        <h4>{{book.title}}</h4>
        <p class="list-group-item-text">{{book.publisher}}</p>
        <img class="cover pull-right"  [src]="getBookCover(book)" alt="book photo">

      </button>
    </div>
    <button class="btn btn-primary" (click)="onNewBook()">Nouveau livre</button>
  </div>
</div>
