<div class="row verify-email">
  <div class="col-sm-8 col-sm-offset-2 verify-email-content">
    <div class="verify-email-content-success">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      <div>Votre compte a bien été créé!</div>
    </div>

    <div *ngIf="userData" class="verify-email-content-text">
      <p>Un mail de confirmation a été envoyé à l'adresse <span>{{userData.email}}</span></p>
      <p>Pour continuer, merci de cliquer sur le lien contenu dans cet email afin de valider votre compte!</p>
    </div>

    <!-- Resend verification email -->
    <div class="verify-email-content-actions">
      <!-- Back to signin -->
      <button class="btn btn-link" (click)="onBackToSigin()">
        Retour à la connexion
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      </button>
      <!-- Resend verification email -->
      <button class="btn btn-primary" (click)="onResendVerificationEmail()">
        Renvoyer l'email
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </button>

    </div>

  </div>
</div>
